.App  {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: red;
  height: 80%;
  width: 70%;
  margin:auto
}



.NasaDay {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: white;
    border: red;
    height: 80%;
    width: 100%;
    margin:auto
  }


  .BTN {
    display: none;
  }

  
  .displayOn
  {
    display: inline;
  }

  .displayOff {
    display: none;
  }

  .thanks {
    display: none;
  }